.container.content{
    margin: 10px auto;
    padding: 20px;
    
}

.container.content h1{
    font-size: 2em;
    margin: 0.67em 0;
}

.container.content p{
    margin: 8px 0;
}
.container.content ul,ol{
    margin: 20px;
    
}

.container.content ul,ol li{
    min-height: 30px;
    list-style: inside;
}

.container.content blockquote{
    margin: 20px 0;
    padding-left: 20px;
    border-left: 5px solid royalblue;
    font-style: italic;
    opacity: 0.7;
}
.container.content ul.taglist{
    display: flex;
}

.container.content ul.taglist li{
    list-style: none;
    padding: 3px 8px;
    background: rgba(99,99,99,0.4);
    margin-left: 8px;
    border-radius: 4px;
}